{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["cypress", "react", "prettier", "simple-import-sort"],
  "env": {
    "browser": true,
    "cypress/globals": true,
    "es6": true,
    "jest": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["cypress/**/*"] }],
    "import/prefer-default-export": "off",
    "no-continue": "off",
    "no-plusplus": "off",
    "no-use-before-define": ["error", { "functions": false, "variables": false }],
    "prettier/prettier": "error",
    "simple-import-sort/sort": "error"
  }
}
