{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react", "prettier", "simple-import-sort"],
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "no-continue": 0,
    "no-plusplus": 0,
    "prettier/prettier": "error",
    "simple-import-sort/sort": "error"
  }
}
